html, body{
    height:100%;
    padding:0;
    margin:0;
}
* {
    font-family: "Lucida Console", Courier, monospace;
}
body {
	padding: 0;
	margin: 0;
	background: black;
}
canvas {
	background: grey;
}
